<footer class="relative flex flex-col items-center justify-center px-8 pb-20 sm:pb-0 min-h-[400px]">
  <div class="flex items-center justify-center space-x-3 z-10">
    <a class="group dark:hover:bg-orange-75/5 inline-flex items-center justify-center outline-hidden transition duration-300 hover:bg-orange-950/5 focus:ring-2 focus:ring-rose-300/90 dark:bg-orange-75/5 dark:text-orange-75 dark:hover:text-orange-75 rounded-xl bg-orange-950/5 p-2 text-orange-950/50 hover:text-orange-950/75 size-10" href="https://twitter.com/henrikruscon" rel="noopener noreferrer" target="_blank" aria-label="X (Twitter)">
      <svg class="size-[22px] fill-current transition duration-300 ease-out group-hover:scale-105 dark:opacity-50 dark:group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M21.2391 3H18.6854L12.9921 9.61784L14.1261 11.2682L21.2391 3Z"></path>
        <path d="M11.2104 14.6575L10.0764 13.0071L3.2002 21H5.75403L11.2104 14.6575Z"></path>
        <path d="M8.44486 3H3.2002L15.5685 21H20.8131L8.44486 3ZM5.31391 4.16971H7.70053L18.6861 19.8835H16.2995L5.31391 4.16971Z"></path>
      </svg>
    </a>
    <a class="group dark:hover:bg-orange-75/5 inline-flex items-center justify-center outline-hidden transition duration-300 hover:bg-orange-950/5 focus:ring-2 focus:ring-rose-300/90 dark:bg-orange-75/5 dark:text-orange-75 dark:hover:text-orange-75 rounded-xl bg-orange-950/5 p-2 text-orange-950/50 hover:text-orange-950/75 size-10" href="https://github.com/henrikruscon" rel="noopener noreferrer" target="_blank" aria-label="GitHub">
      <svg class="size-6 fill-current transition duration-300 ease-out group-hover:scale-105 dark:opacity-50 dark:group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"></path>
      </svg>
    </a>
     <a class="group dark:hover:bg-orange-75/5 inline-flex items-center justify-center outline-hidden transition duration-300 hover:bg-orange-950/5 focus:ring-2 focus:ring-rose-300/90 dark:bg-orange-75/5 dark:text-orange-75 dark:hover:text-orange-75 rounded-xl bg-orange-950/5 p-2 text-orange-950/50 hover:text-orange-950/75 size-10" href="https://discord.bud.dyno.app" rel="noopener noreferrer" target="_blank" aria-label="Discord">
      <svg class="size-6 fill-current transition duration-300 ease-out group-hover:scale-105 dark:opacity-50 dark:group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M19.304 4.894c2.372 3.487 3.543 7.42 3.106 11.949a.068.068 0 0 1-.028.048 17.357 17.357 0 0 1-5.252 2.65.067.067 0 0 1-.074-.025 14.014 14.014 0 0 1-1.072-1.744.067.067 0 0 1 .036-.093 10.726 10.726 0 0 0 1.64-.78.067.067 0 0 0 .005-.111 8.321 8.321 0 0 1-.326-.256.064.064 0 0 0-.069-.008c-3.396 1.568-7.117 1.568-10.554 0a.065.065 0 0 0-.068.009 8.917 8.917 0 0 1-.325.255.067.067 0 0 0 .007.111c.523.3 1.067.565 1.638.781a.066.066 0 0 1 .036.093 12.472 12.472 0 0 1-1.072 1.744.068.068 0 0 1-.074.024 17.414 17.414 0 0 1-5.244-2.65.071.071 0 0 1-.027-.049c-.366-3.917.38-7.883 3.102-11.948a.061.061 0 0 1 .028-.025 17.28 17.28 0 0 1 4.275-1.325.068.068 0 0 1 .068.033c.186.328.398.748.54 1.092a15.997 15.997 0 0 1 4.802 0c.143-.336.348-.764.532-1.092a.065.065 0 0 1 .069-.033c1.5.26 2.936.711 4.274 1.325a.052.052 0 0 1 .027.025Zm-8.9 7.447c.017-1.157-.827-2.116-1.887-2.116-1.05 0-1.887.95-1.887 2.116 0 1.166.853 2.116 1.887 2.116 1.052 0 1.888-.95 1.888-2.116Zm6.978 0c.017-1.157-.827-2.116-1.887-2.116-1.05 0-1.887.95-1.887 2.116 0 1.166.853 2.116 1.887 2.116 1.06 0 1.887-.95 1.887-2.116Z"></path>
      </svg>
    </a>
  </div>
   <div class="pointer-events-none -mt-6 overflow-hidden select-none sm:block sm:h-36 md:h-48 md:text-[18rem] lg:h-56 lg:text-[20rem] font-black animate-fade-in whitespace-nowrap" style="background: linear-gradient(to bottom, rgba(234, 88, 12, 0.25), rgba(234, 88, 12, 0.05)); -webkit-background-clip: text; background-clip: text; color: transparent;">
     DYN O
   </div>
</footer>
