---
import FeatureIllustration from './features/FeatureIllustration.astro'
import { featureItems } from '../config/features'
---
<section class="isolate mt-16 w-full sm:mt-12">
  <div class="mx-auto grid w-full gap-x-3 gap-y-10 tracking-tight sm:max-w-screen-lg sm:grid-cols-4 sm:gap-y-14">
    {featureItems.map((feature) => (
      <div class="group flex flex-col items-center justify-center text-center">
        <FeatureIllustration id={feature.id} />
        <h2 class="w-full text-3xl font-bold">
          {feature.titleTop}
          <br />
          {feature.titleBottom}
        </h2>
      </div>
    ))}
  </div>
</section>
