---
interface Props {
  title?: string
  description?: string
}

const {
  title = 'Dyno — Dynamic Island for your Mac',
  description = 'An entirely new way to experience Mac',
} = Astro.props
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="macos, swift, macos app, app, dynamic, island, notch, media, controls, hud, interface" />
     <link rel="icon" href="/favicon.svg" />
  </head>
  <body>
    <div class="dark:text-orange-75 flex min-h-svh flex-col text-stone-800 bg-orange-75 dark:bg-stone-900">
      <slot />
    </div>
  </body>
</html>

<style>
  html, body {
    margin: 0;
    width: 100%;
  }
</style>
